
header#main-header{
    height: 60px;
    background: orange;
    width:100%;
    font-size: 18px;
    font-weight: bold;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}
